{{define "footer"}}
            <footer>
                <div id="copyright">©︎2021 Songju Pae</div>
            </footer>
        </div>
    </body>
    <script type="text/javascript" src="/static/js/globalData.js"></script>
    <script type="text/javascript" src="/static/js/sticky.js"></script>
    <script type="text/javascript" src="/static/js/votePage.js"></script>
    <script type="text/javascript" src="/static/js/voteWord.js"></script>
    <script type="text/javascript" src="/static/js/slide.js"></script>
    <script type="text/javascript" src="/static/js/highlight.js"></script>
    <script type="text/javascript" src="/static/js/init.js"></script>
</html>

{{end}}