{{template "header"}}

<div class="slide-container">
    <div class="slide">
        <img class="display-page" src="/static/pdf/nagai/1.jpeg" width="100%">
        <div class="progressbar-background">
            <span class="progressbar" data-total-progress={{.pages}}></span>
        </div>
        <div class="slide-control-content">
            <div class="slide-control-left"></div>
            <div class="slide-control-center">
                <button class="prev-slide-btn" type="image" disabled><i class="fas fa-chevron-left"></i></button>
                <span class="page-info">
                    <span class="page-now-text">1</span><span class="page-total-text"> / {{ .pages }}</span>
                </span>
                <button class="next-slide-btn" type="image"><i class="fas fa-chevron-right"></i></button>
            </div>
            <div class="slide-control-right">
                <button class="add-sticky-modal-btn" type="image"><i class="far fa-sticky-note"></i></button>
                <button class="vote-word-modal-btn" type="image"><i class="fas fa-font"></i></button>
                <button class="vote-page-modal-btn" type="image"><i class="fas fa-chart-bar"></i></button>
                <button class="visible-sticky-btn" type="image"><i class="far fa-eye"></i></button>
                <button class="invisible-sticky-btn" type="image"><i class="far fa-eye-slash"></i></button>
                <button class="question-btn"><i class="fas fa-question"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="new-sticky-modal-item">
    <div class="new-sticky-modal-bg"></div>
    <div class="new-sticky-modal-container">
        <i class="fas fa-times new-sticky-modal-close-btn"></i>
        <div class="new-sticky-title-container">
            <div class="create-sticky-title selected-title">
                編集
            </div>
            <div class="template-sticky-title">
                テンプレート
            </div>
        </div>
        <div class="new-sticky-container">
            <div class="create-sticky-container">
                <div class="create-sticky-model-container">
                    <div class="create-sticky-model" data-color="blue" data-shape="square">
                        <span class="create-sticky-model-text"></span>
                    </div>
                </div>
                <div class="create-sticky-edit-container">
                    <div class="create-sticky-color">
                        <div class="column-color">色</div>
                        <ul>
                            <li class="create-sticky-color-blue selected-color"></li>
                            <li class="create-sticky-color-red"></li>
                            <li class="create-sticky-color-yellow"></li>
                            <li class="create-sticky-color-green"></li>
                        </ul>
                    </div>
                    <div class="create-sticky-shape">
                        <div class="column-shape">形</div>
                        <div class="shape-item">
                            <div class="create-sticky-shape-square selected-shape"></div>
                            <!--<div class="create-sticky-shape-rectangle"></div>-->
                            <div class="create-sticky-shape-triangle-left"></div>
                            <div class="create-sticky-shape-left"></div>
                            <div class="create-sticky-shape-right"></div>
                            <div class="create-sticky-shape-triangle-right"></div>
                        </div>
                        <div class="square-limit-input-text">最大110文字</div>
                        <div class="square-limit-input-text">(付箋のサイズは自動で変わります)</div>
                        <div class="left-right-limit-input-text">最大16文字</div>
                        <div class="left-right-limit-input-text">　</div>
                        <!-- <div class="left-right-limit-input-text"></div> -->
                    </div>
                    <div class="create-sticky-text">
                        <div class="column-text">内容</div>
                        <textarea class="create-sticky-textarea dynamic-input" rows="5" cols="30" maxlength="22"></textarea>
                        <textarea class="create-sticky-textarea static-input" rows="5" cols="30" maxlength="22"></textarea>
                    </div>
                </div>
            </div>
            <div class="template-sticky-container">
                <div class="template-sticky-models">
                    <div class="template-sticky-model-1 selected-template" data-color="light-blue" data-shape="square">
                        <span class="template-sticky-text">詳しく解説してほしい</span>
                    </div>
                    <div class="template-sticky-model-2" data-color="light-red" data-shape="square">
                        <span class="template-sticky-text">分からない！</span>
                    </div>
                    <div class="template-sticky-model-3" data-color="light-yellow" data-shape="square">
                        <span class="template-sticky-text">ここ大事そう！</span>
                    </div>
                    <div class="template-sticky-model-4" data-color="light-green" data-shape="square">
                        <span class="template-sticky-text">なんでこうなるんだろう</span>
                    </div>
                    <br>
                    <div class="template-sticky-model-5 change-color-left-blue" data-color="light-blue" data-shape="left">
                        <span class="template-sticky-text">ここがよく分からないです</span>
                    </div>
                    <div class="template-sticky-model-6 change-color-right-red" data-color="light-red" data-shape="right">
                        <span class="template-sticky-text">ここが分からない！</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-sticky-container">
            <button type="button" class="add-sticky-btn create-mode">作成する</button>
        </div>
    </div>
</div>

<div class="vote-word-modal-item">
    <div class="vote-word-modal-bg"></div>
    <div class="vote-word-modal-container">
        <i class="fas fa-times vote-word-modal-close-btn"></i>
        <div class="vote-word-title-container">
            <div class="vote-word-title">
                単語に投票する
            </div>
        </div>
        <div class="voted-word-container"></div>
        <div class="vote-word-input-container"><input type="text" size="30" maxlength="20" class="vote-word-input"></input></div>
        <div class="vote-word-btn-container">
            <button type="button" class="vote-word-btn create-mode">新しい単語を投票する</button>
        </div>
    </div>
</div>

<div class="vote-page-modal-item">
    <div class="vote-page-modal-bg"></div>
    <div class="vote-page-modal-container">
        <i class="fas fa-times vote-page-modal-close-btn"></i>
        <div class="vote-page-title-container">
            <div class="vote-page-title">
                ページ投票
            </div>
        </div>
        <div class="chart-container"><canvas id="chart"></canvas></div>

        <div class="vote-page-container">
            <button type="button" class="vote-page-btn">ページ<span class="page-now-vote">1</span>に投票する</button>
        </div>

        <div class="remove-vote-page-container">
            <button type="button" class="remove-vote-page-btn">ページ<span class="page-now-vote">1</span>の投票を取り消す</button>
        </div>
    </div>
</div>

<div class="explain-modal-item">
    <div class="explain-modal-bg"></div>
    <div class="explain-modal-container">
        <i class="fas fa-times explain-modal-close-btn"></i>
        <div class="explain-app-title-container">
            <div class="explain-app-title">
                アプリの説明
            </div>
        </div>
        <div class="explain-app-text">
            <p>このWebアプリは、学生の理解度に合わせて講義中の疑問解消を支援するアプリです。</p>
            <p>
                分からないところがあればスライドにオンライン付箋を貼ったり、単語・ページ投票をして疑問を共有してみましょう。
            </p>
            <p>
                各種機能は匿名で利用できるので気軽に疑問を表現してみてください。
            </p>
            <br>
            <p>
                推奨ブラウザ：Google Chrome, Safari
            </p>
            <p class="recommend-window-size">
                アプリはウィンドウサイズを最大にしてご利用ください！
            </p>
        </div>

        <div class="explain-function-title-container">
            <div class="explain-function-title">
                各種機能の説明
            </div>
        </div>
        <div class="explain-add-sticky-container">
            <span class="explain-add-sticky-icon">
                <i class="far fa-sticky-note"></i>
            </span>
            <span class="explain-add-sticky-text">
                スライド上に付箋を作成します。付箋の色・形・内容を編集できます。<br>
                また、テンプレートも使用できます。
            </span>
        </div>
        <div class="explain-vote-word-container">
            <span class="explain-vote-word-icon">
                <i class="fas fa-font"></i>
            </span>
            <span class="explain-vote-word-text">
                分からない単語に投票します。<br>
                既に他の人が同じ単語を投票していた場合は「いいね」しましょう。
            </span>
        </div>
        <div class="explain-vote-page-container">
            <span class="explain-vote-page-icon">
                <i class="fas fa-chart-bar"></i>
            </span>
            <span class="explain-vote-page-text">
                理解ができていないページに投票します。<br>
                投票したページは全体で集計してグラフ化されます。
            </span>
        </div>
        <div class="explain-visible-sticky-container">
            <span class="explain-visible-sticky-icon">
                <i class="far fa-eye"></i>
            </span>
            <span class="explain-visible-sticky-text">
                スライド上の付箋の表示/非表示を切り替えます。
            </span>
        </div>
        </dav>
    </div>
</div>

{{template "footer"}}