{{template "header"}}

<div class="slide-container">
    <div class="slide">
        <img class="display-page" src="/static/pdf/14/1.jpeg" width="100%">
        <div class="progressbar-background">
            <span class="progressbar" data-total-progress={{.pages}}></span>
        </div>
        <div class="slide-control-content">
            <div class="slide-control-left">
                <button class="add-sticky-modal-btn" type="image"><i class="far fa-edit"></i></button>
                <p class="add-sticky-caption">スライド上に付箋を作成する</p>
                <button class="add-highlight-btn" type="image"><img class="img-highlight" src="/static/img/highlight.png"></img></button>
                <p class="add-highlight-caption">スライド上にマーカーを引く</p>
                <button class="vote-page-btn" type="image"><i class="far fa-sticky-note"></i></button>
                <p class="vote-page-caption">このページに投票する</p>
            </div>
            <div class="slide-control-center">
                <button class="prev-slide-btn" type="image" disabled><i class="fas fa-chevron-left"></i></button>
                <span class="page-info">
                    <span class="page-now-text">1</span><span class="page-total-text"> / {{ .pages }}</span>
                </span>
                <button class="next-slide-btn" type="image"><i class="fas fa-chevron-right"></i></button>
            </div>
            <div class="slide-control-right">
                <button class="show-graph-btn" type="image"><i class="fas fa-chart-bar"></i></button>
                <p class="show-graph-caption">ページ投票グラフを表示する</p>
                <button class="visible-btn" type="image"><i class="far fa-eye"></i></button>
                <p class="visible-sticky-caption">付箋・マーカーの表示/非表示を切り替える</p>
                <button class="invisible-btn" type="image"><i class="far fa-eye-slash"></i></button>
                <p class="visible-sticky-caption">付箋・マーカーの表示/非表示を切り替える</p>
                <button class="question-btn"><i class="fas fa-question"></i></button>
                <p class="question-caption">ヘルプを表示する</p>
            </div>
        </div>
    </div>
</div>

<div class="new-sticky-modal-item">
    <div class="new-sticky-modal-bg"></div>
    <div class="new-sticky-modal-container">
        <i class="fas fa-times new-sticky-modal-close-btn"></i>
        <div class="new-sticky-title-container">
            <div class="create-sticky-title selected-title">
                付箋編集
            </div>
            <div class="template-sticky-title">
                テンプレート
            </div>
        </div>
        <div class="new-sticky-container">
            <div class="create-sticky-container">
                <div class="create-sticky-model-container">
                    <div class="create-sticky-model" data-color="blue" data-shape="square">
                        <span class="create-sticky-model-text"></span>
                    </div>
                </div>
                <div class="create-sticky-edit-container">
                    <div class="create-sticky-color">
                        <div class="column-color">色</div>
                        <ul>
                            <li class="create-sticky-color-blue selected-color"></li>
                            <li class="create-sticky-color-red"></li>
                            <li class="create-sticky-color-yellow"></li>
                            <li class="create-sticky-color-green"></li>
                        </ul>
                    </div>
                    <div class="create-sticky-shape">
                        <div class="column-shape">形</div>
                        <div class="shape-item">
                            <div class="create-sticky-shape-square selected-shape"></div>
                            <div class="create-sticky-shape-triangle-left"></div>
                            <div class="create-sticky-shape-left"></div>
                            <div class="create-sticky-shape-right"></div>
                            <div class="create-sticky-shape-triangle-right"></div>
                        </div>
                        <div class="square-limit-input-text">最大110文字</div>
                        <div class="square-limit-input-text">(付箋のサイズは自動で変わります)</div>
                        <div class="left-right-limit-input-text">最大16文字</div>
                        <div class="left-right-limit-input-text">　</div>
                    </div>
                    <div class="create-sticky-text">
                        <div class="column-text">内容</div>
                        <textarea class="create-sticky-textarea dynamic-input" rows="5" cols="30" maxlength="22"></textarea>
                        <textarea class="create-sticky-textarea static-input" rows="5" cols="30" maxlength="22"></textarea>
                    </div>
                </div>
            </div>
            <div class="template-sticky-container">
                <div class="template-sticky-models">
                    <div class="template-sticky-model-1 selected-template" data-color="light-blue" data-shape="square">
                        <span class="template-sticky-text">詳しく解説してほしい</span>
                    </div>
                    <div class="template-sticky-model-2" data-color="light-red" data-shape="square">
                        <span class="template-sticky-text">分からない！</span>
                    </div>
                    <div class="template-sticky-model-3" data-color="light-yellow" data-shape="square">
                        <span class="template-sticky-text">ここ大事そう！</span>
                    </div>
                    <div class="template-sticky-model-4" data-color="light-green" data-shape="square">
                        <span class="template-sticky-text">なんでこうなるんだろう</span>
                    </div>
                    <br>
                    <div class="template-sticky-model-5 change-color-left-blue" data-color="light-blue" data-shape="left">
                        <span class="template-sticky-text">ここがよく分からないです</span>
                    </div>
                    <div class="template-sticky-model-6 change-color-right-red" data-color="light-red" data-shape="right">
                        <span class="template-sticky-text">ここが分からない！</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-sticky-container">
            <button type="button" class="add-sticky-btn create-mode">作成する</button>
        </div>
    </div>
</div>

<div class="vote-page-modal-item">
    <div class="vote-page-modal-bg"></div>
    <div class="vote-page-modal-container">
        <i class="fas fa-times vote-page-modal-close-btn"></i>
        <div class="vote-page-title-container">
            <div class="vote-page-title">
                難しいページグラフ
            </div>
        </div>
        <div class="chart-container"><canvas id="chart"></canvas></div>
    </div>
</div>

<div class="explain-modal-item">
    <div class="explain-modal-bg"></div>
    <div class="explain-modal-container">
        <i class="fas fa-times explain-modal-close-btn"></i>
        <div class="explain-app-title-container">
            <div class="explain-function-title selected-title">
                機能説明
            </div>
            <div class="explain-app-title">
                ツール概要
            </div>
        </div>
        <div class="explain-app-title-container-init">
            <div class="explain-app-title-init">
                ツール概要
            </div>
        </div>
        <div class="explain-function-item">
            <div class="explain-function-nav">
                <span class="explain-add-sticky-icon explain-default-icon">
                    <i class="far fa-edit add-sticky-icon"></i>
                </span>
                <span class="explain-add-highlight-icon explain-default-icon">
                    <img class="explain-img-highlight add-highlight-icon" src="/static/img/highlight-black.png"></img>
                </span>
                <span class="explain-vote-page-icon explain-default-icon">
                    <i class="far fa-sticky-note vote-page-icon"></i>
                </span>
                <span class="explain-show-graph-icon explain-default-icon">
                    <i class="fas fa-chart-bar show-graph-icon"></i>
                </span>
                <span class="explain-visible-sticky-icon explain-default-icon">
                    <i class="far fa-eye visible-sticky-icon"></i>
                </span>
                <span class="explain-question-icon explain-default-icon">
                    <i class="fas fa-question question-icon"></i>
                </span>
            </div>

            <div class="explain-function-text">
                <div class="explain-function-default">
                    アイコンをクリックすると機能の説明や使い方が表示されます
                </div>
                <div class="explain-add-sticky-text explain-text">
                    <img class="explain-img-add-sticky" src="/static/img/sticky.gif" width="400px"></img>
                    スライド上に付箋を作成して、ドラッグ&ドロップで自由に動かせます。<br><br>
                    付箋は色・形・内容を編集でき、設計が面倒ならテンプレートも使えます。<br><br>
                    他の人の付箋に共感したら「いいね」ボタンを押してみましょう。<br><br>
                    (付箋の移動や削除は付箋作成者のみ行えます)
                </div>
                <div class="explain-add-highlight-text explain-text">
                    <img class="explain-gif-highlight" src="/static/img/highlight.gif" width="400px"></img>
                    スライド上にマーカーを引けます。<br><br>
                    マーキング手順<br>
                    ①<img class="explain-img-highlight-mini" src="/static/img/highlight-black.png"></img>をクリックする<br>
                    ②マーキングしたい箇所をクリックする<br>
                    ③右端をドラッグして長さを調節する<br><br>
                    マーカーはダブルクリックで削除できます。
                </div>
                <div class="explain-vote-page-text explain-text">
                    難しいと感じるページに投票できます。<br>
                    自分が理解できていないスライドのページでこのアイコンをクリックしてみましょう。<br><br>
                    投票されたページは全体で集計されて、<i class="fas fa-chart-bar show-graph-mini"></i>をクリックするとグラフで投票状況を確認できます。
                    <div class="explain-vote-container">
                        <div class="explain-vote1-container">
                            <img class="explain-vote1" src="/static/img/explain-vote1.png" width="300px"></img>
                            <div>投票をしていない状態</div>
                        </div>
                        <div class="explain-vote2-container">
                            <img class="explain-vote2" src="/static/img/explain-vote2.png" width="300px"></img>
                            <div>投票した状態</div>
                        </div>
                    </div>
                </div>
                <div class="explain-show-graph-text explain-text">
                    <i class="far fa-sticky-note explain-vote-mini"></i>で投票されたページの集計グラフを表示します。<br>
                    自分が投票したページは緑色で表示されます。
                </div>
                <div class="explain-visible-sticky-text explain-text">
                    スライド上の付箋とマーカーの表示/非表示を切り替えます。
                </div>
                <div class="explain-question-text explain-text">
                    各種機能の説明やツールの概要を表示します。
                </div>
            </div>
        </div>
        <div class="explain-app-item">
            <div class="explain-app-text">
                <p>このツールは学生の質問を手助けするWebアプリです。</p>
                <br>
                <p>
                    分からないところがあればスライドに付箋を貼ったり、マーキング・ページ投票をして疑問を共有してみましょう。
                </p>
                <p>
                    ツール内は匿名なので気軽に活用してみてください
                </p>
                <br>
                <p class="recommend-window-size">
                    <i class="fas fa-question question-mini"></i>アイコンをクリックして機能の使い方を確認してください！<br>
                    ウィンドウサイズ最大が推奨です！<br>
                    ウィンドウサイズを変更した後はページをリロードしてください！
                </p>
                <br>
                <p>
                    ※推奨ブラウザ：Google Chrome, Safari
                </p>
            </div>
        </div>
    </div>
</div>

{{template "footer"}}