@import url("https://fonts.googleapis.com/css?family=Kosugi");

* {
    margin: 0;
    padding: 0;
}
.wrapper {
    background-color: #e6f2ff;
    padding: 30px 0;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    padding-bottom: 300px;
    box-sizing: border-box;
}
html {
    background-color: #fff;
}
body {
    font-family: "Kosugi", sans-serif;
}
header {
    background-color: #fff;
    padding: 10px 0 30px;
}
#app-title {
    font-family: 'Noteworthy',sans-serif;
    margin-left: 10px;
}
footer {
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}



/* スライド制御 */

.slide {
    margin: 0 auto;
    width: 60%;
    position: relative;
}
.progressbar-background {
    position: relative;
    background-color: #aaacaf;
    height: 5px;
    width: 100%;
}
.progressbar {
    position: absolute;
    width: calc((1 / 47) * 100%);
    height: 5px;
    background-color: #22a7da;
    transition: all 150ms 0s ease;
}
.slide-control-content {
    background-color: #3d424a;
    width: 100%;
    height: 50px;
    padding: 5px 0;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}
.slide-control-left {
    width: 100%;
}
.slide-control-center {
    width: 100%;
}
.slide-control-right {
    width: 100%;
}
.prev-slide-btn,
.next-slide-btn,
.add-sticky-btn {
    border: none;
    background-color: #3d424a;
    width: 40px;
    height: 100%;
    cursor: pointer;
    border-radius: .15rem;
}
.prev-slide-btn:hover,
.next-slide-btn:hover,
.add-sticky-btn:hover {
    background-color: #22a7da;
}
button[disabled] {
    pointer-events: none;
}
.fa-chevron-left,
.fa-chevron-right {
    color: #fff;
    stroke-width: 3px;
}
.fa-chevron-left {
    color: #C0C0C0;
}
.page-info {
    height: 100%;
    margin: 0 10px;
}
.page-now-text,
.page-total-text {
    color: #fff;
}
.add-sticky-btn {
    color: #fff;
    /* position: absolute;
    top: 50%;
    left: 80%;
    transform: translateY(-50%) translateX(-50%); */
}
.add-sticky-btn:before {
    size: 30px;
}



/* スライド上の付箋 */

.sticky {
    position: absolute !important;
}
.sticky-left::before {
    z-index: 0 !important;
    left: -117px !important;
}
.sticky-left::after {
    z-index: 0 !important;
    height: 60px !important;
    left: -10px !important;
}
.sticky-right::before {
    z-index: 0 !important;
    left: 159px !important;
}
.sticky-right::after {
    z-index: 0 !important;
    height: 60px !important;
    left: 152px !important;
}
.sticky-text {
    overflow-wrap: break-word;
}

.faaa {
    size: 50px;
}



/* 付箋作成画面、モーダル */

.add-sticky-container {
    text-align: center;
}

.new-sticky-btn {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    background-color: rgb(0, 140, 255);
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;
}
.new-sticky-modal-item {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.new-sticky-modal-bg {
    background-color: rgba(83, 83, 83, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.new-sticky-modal-container {
    background-color: #fff;
    position: absolute;
    left: 50%;
    padding: 40px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
    border-radius: 10px;
}
.new-sticky-title-container {
    padding: 30px 100px;
    display: flex;
    justify-content: center;
}
.create-sticky-title,
.template-sticky-title {
    text-align: center;
    font-size: 30px;
    color: rgb(230, 230, 230);
    padding-bottom: 10px;
    border-bottom: solid;
    width: 300px;
    margin: 0 10x;
    cursor: pointer;
}
.selected-title {
    color: rgb(190, 190, 190);
}



/* 自作付箋 */

.new-sticky-container {
}
.create-sticky-container {
    display: flex;
    justify-content: center;
}
.column-color,
.column-shape,
.column-text {
    color: rgb(190, 190, 190);
    padding-bottom: 10px;
}
.create-sticky-model-container {
    margin: auto 0;
}
.new-sticky-design-text {
    overflow-wrap: break-word;
}
[data-shape=square] {
    padding: 5px 10px;
    width: 180px;
    height: 50px;
    box-shadow: 3px 3px 5px #9d9592;
    border-radius: 5px;
}
[data-shape=rectangle] {
    padding: 5px 10px;
    width: 180px;
    height: 180px;
    box-shadow: 3px 3px 5px #9d9592;
    border-radius: 5px;
}
[data-shape=left] {
    position: relative;
    padding: 5px 10px;
    margin-left: 41px;
    width: 140px;
    height: 50px;
    box-shadow: 3px 3px 5px #9d9592;
    border-radius: 5px;
}
.change-color-left-blue::before,
.change-color-left-red::before,
.change-color-left-yellow::before,
.change-color-left-green::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 60px solid transparent;
    left: -116px;
    top: -28px;
    box-shadow: 10px 0 5px -9px #9d9592;
    z-index: -1;
}
[data-shape=left]::after {
    position: absolute;
    content: "";
    background-color: #aff;
    width: 18px;
    height: 64px;
    left: -14px;
    top: 0;
}

[data-shape=right] {
    position: relative;
    padding: 5px 10px;
    margin-right: 41px;
    width: 140px;
    height: 50px;
    box-shadow: -3px 3px 5px #9d9592;
    border-radius: 5px;
}
.change-color-right-blue::before,
.change-color-right-red::before,
.change-color-right-yellow::before,
.change-color-right-green::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 60px solid transparent;
    border-left: 60px solid #aff;
    left: 152px;
    top: -28px;
    box-shadow: -10px 0 5px -9px #9d9592;
    z-index: -1;
}
[data-shape=right]::after {
    position: absolute;
    content: "";
    background-color: #aff;
    width: 18px;
    height: 66px;
    left: 152px;
    top: 0;
}
.change-color-left-blue::before {
    border-right: 60px solid #aff;
}
.change-color-left-red::before {
    border-right: 60px solid #faa;
}
.change-color-left-yellow::before {
    border-right: 60px solid #ffa;
}
.change-color-left-green::before {
    border-right: 60px solid #afa;
}
.change-color-right-blue::before {
    border-left: 60px solid #aff;
}
.change-color-right-red::before {
    border-left: 60px solid #faa;
}
.change-color-right-yellow::before {
    border-left: 60px solid #ffa;
}
.change-color-right-green::before {
    border-left: 60px solid #afa;
}


.create-sticky-color,
.create-sticky-text,
.create-sticky-shape {
    padding: 0 50px 30px;
}
.create-sticky-color {
    padding-bottom: 50px;
}
.create-sticky-color li {
    float: left;
    margin-left: 10px;
    list-style-type: none;
    position: relative;
    cursor: pointer;
}
.create-sticky-color li::before {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    content: "";
    border: 1px solid rgba(201, 201, 201);
}

.create-sticky-color-blue::before {
    left: 0;
}
.create-sticky-color-red::before {
    left: 40px;
}
.create-sticky-color-yellow::before {
    left: 80px;
}
.create-sticky-color-green::before {
    left: 120px;
}
.selected-color::before {
    border: 1.5px solid rgb(146, 146, 146) !important;
}


.shape-item {
    display: flex;
    height: 45px;
}
.create-sticky-shape-square {
    border-radius: 3px;
    width: 40px;
    height: 16px;
    margin: 10px 15px 0;
    background-color: #fff;
    border: 1px solid rgba(201, 201, 201);
    cursor: pointer;
}
.create-sticky-shape-rectangle {
    border-radius: 3px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid rgba(201, 201, 201);
    cursor: pointer;
}
.create-sticky-shape-left,
.create-sticky-shape-right {
    position: relative;
    height: 16px;
    width: 25px;
    background-color: #fff;
    border: 1px solid rgba(201, 201, 201);
    z-index: 1;
    cursor: pointer;
}
.create-sticky-shape-left {
    margin: 10px 10px 0 0;
}
.create-sticky-shape-right {
    margin: 10px 0 0 10px;
}
.create-sticky-shape-triangle-left,
.create-sticky-shape-triangle-right {
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    z-index: -1;
    cursor: pointer;
}
.create-sticky-shape-triangle-left {
    border-right: 16px solid rgba(201, 201, 201);
    margin: 4px 0 0 15px;
}
.create-sticky-shape-triangle-right {
    border-left: 16px solid rgba(201, 201, 201);
    margin-top: 4px;
}

.create-sticky-shape-left::before,
.create-sticky-shape-right::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 16px;
    background-color: #fff;
    top: 0;
    z-index: 2;
}
.create-sticky-shape-left::before {
    left: -4px;
}
.create-sticky-shape-right::before {
    left: 24px;
}

.create-sticky-shape-left::after,
.selected-shape-left::after {
    position: absolute;
    content: "";
    border: solid 14px transparent;
    border-right: solid 14px #fff;
    top: -5px;
    left: -30px;
    z-index: -1;
}
.selected-shape-left::after {
    border: solid 13px transparent;
    border-right: solid 13px #fff;
    top: -4px;
    left: -29px;
}

.create-sticky-shape-right::after,
.selected-shape-right::after {
    position: absolute;
    content: "";
    border: solid 14px transparent;
    border-left: solid 14px #fff;
    top: -5px;
    left: 27px;
    z-index: -1;
}
.selected-shape-right::after {
    border: solid 13px transparent;
    border-left: solid 13px #fff;
    top: -4px;
    left: 28px;
}

.selected-shape {
    border: 1.5px solid rgb(146, 146, 146);
    background: #fff;
}
.selected-shape-triangle-left {
    border-right: 17px solid rgb(146, 146, 146);
}
.selected-shape-triangle-right {
    border-left: 17px solid rgb(146, 146, 146);
}



/* テンプレート付箋 */

.template-sticky-container {

}
.template-sticky-models {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
[class^="template-sticky-model-"] {
    margin: 20px 20px;
    cursor: pointer;
}
.template-sticky-text {
    color: rgb(182, 182, 182);
}

.selected-template[data-color=light-blue] {
    background-color: #aff;
    box-shadow: 3px 3px 5px #9d9592;
}
.selected-template[data-color=light-blue]::before {
    border-right: 60px solid #aff;
    box-shadow: 10px 0 5px -9px #9d9592;
}
.selected-template[data-color=light-blue]::after {
    background-color: #aff;
}

.selected-template[data-color=light-red] {
    background-color: #faa;
    box-shadow: 3px 3px 5px #9d9592;
}
.selected-template[data-color=light-red]::before {
    border-left: 60px solid #faa;
    box-shadow: -10px 0 5px -9px #9d9592;
}
.selected-template[data-color=light-red]::after {
    background-color: #faa;
}

.selected-template[data-color=light-yellow] {
    background-color: #ffa;
    box-shadow: 3px 3px 5px #9d9592;
}
.selected-template[data-color=light-green] {
    background-color: #afa;
    box-shadow: 3px 3px 5px #9d9592;
}
.selected-template > .template-sticky-text {
    color: #000;
}



/* 各種カラー */

[data-color=blue],
.change-color-left-blue::after,
.change-color-right-blue::after,
.create-sticky-color-blue,
.create-sticky-color-blue::before {
    background-color: #aff;
}
[data-color=red],
.change-color-left-red::after,
.change-color-right-red::after,
.create-sticky-color-red,
.create-sticky-color-red::before {
    background-color: #faa;
}
[data-color=yellow],
.change-color-left-yellow::after,
.change-color-right-yellow::after,
.create-sticky-color-yellow,
.create-sticky-color-yellow::before {
    background-color: #ffa;
}
[data-color=green],
.change-color-left-green::after,
.change-color-right-green::after,
.create-sticky-color-green,
.create-sticky-color-green::before {
    background-color: #afa;
}

[data-color=light-blue] {
    background-color: rgb(230, 253, 253);
    box-shadow: 3px 3px 5px #d1cbc9;
}
[data-color=light-blue]::before {
    border-right: 60px solid rgb(230, 253, 253);
    box-shadow: 10px 0 5px -9px #d1cbc9;
}
[data-color=light-blue]::after {
    background-color: rgb(230, 253, 253)
}
[data-color=light-red] {
    background-color: rgb(255, 235, 235);
    box-shadow: 3px 3px 5px #d1cbc9;
}
[data-color=light-red]::before {
    border-left: 60px solid rgb(255, 235, 235);
    box-shadow: -10px 0 5px -9px #d1cbc9;
}
[data-color=light-red]::after {
    background-color: rgb(255, 235, 235);
}
[data-color=light-yellow] {
    background-color: rgb(255, 255, 223);
    box-shadow: 3px 3px 5px #d1cbc9;
}
[data-color=light-green] {
    background-color: rgb(219, 253, 219);
    box-shadow: 3px 3px 5px #d1cbc9;
}



/* コピーライト */
#copyright {
    text-align: center;
}